---
const target = '/en/proyectos/blackopsiiilatino';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>COD: Black Ops III PC Latin American Spanish</title>
    <link rel="canonical" href={`https://a2workshop.github.io${target}`} />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
  </head>
  <body>
    <a href={target}>COD: Black Ops III PC Latin American Spanish</a>
  </body>
</html>
