.activeborder {
    border: #dbdbdb solid 4px !important;
    border-bottom: none !important;
    color: #000000;
    background-color: #1b2838 !important;
}

.btn-primary {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #000000 !important;
}

.btn-primary:hover {
    background-color: #dbdbdb;
    border-color: #dbdbdb;

}

.btn-primary:active {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.btn-primary:disabled {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.btn-primary:focus {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.card-hover:hover {
    border: 2px solid #dbdbdb;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s ease;
}

.list-group-item.active {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #000 !important;
}

.list-group-item.active:hover {
    background-color: #dbdbdb;
    border-color: #363636;
}

.list-group-item.active:focus {
    background-color: #dbdbdb;
    border-color: #363636;
}

.list-group-item.active:active {
    background-color: #dbdbdb;
    border-color: #363636;
}

#sidebar-close {
    border: #dbdbdb solid 1px;
    border-left: none;
    border-radius: 5px;
}

#sidebar-toggle {
    background-color: #dbdbdb;
    border: #dbdbdb solid 1px;
    box-shadow: 0 0 10px #dbdbdb;
}

@media (min-width: 990px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

.page-link:hover {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #dbdbdb;
}

.page-item.active .page-link {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.alert-info {
    background-color: #dbdbdb;
    border-color: #dbdbdb;
    color: #000 !important;
    font-size: 0.9em;
}

.alert-info b {
    color: #000 !important;
}