.activeborder {
    border: #FF6500 solid 4px !important;
    border-bottom: none !important;
    color: #FF6500;
    background-color: #1b2838 !important;
}

.btn-primary {
    background-color: #FF6500;
    border-color: #FF6500;
    color: #fdfdfd !important;
}

.btn-primary:hover {
    background-color: #FF6500;
    border-color: #FF6500;

}

.btn-primary:active {
    background-color: #FF6500;
    border-color: #FF6500;
}

.btn-primary:disabled {
    background-color: #FF6500;
    border-color: #FF6500;
}

.btn-primary:focus {
    background-color: #FF6500;
    border-color: #FF6500;
}

.card-hover:hover {
    border: 2px solid #FF6500;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s ease;
}

.list-group-item.active {
    background-color: #FF6500;
    border-color: #ffffff;
    color: #000000 !important;
}

.list-group-item.active:hover {
    background-color: #FF6500;
    border-color: #ffffff;
    color: #000000 !important;
}

.list-group-item.active:focus {
    background-color: #FF6500;
    border-color: #ffffff;
    color: #000000 !important;
}

.list-group-item.active:active {
    background-color: #FF6500;
    border-color: #ffffff;
    color: #000000 !important;
}

.group-item-common.active {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:hover {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:focus {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:active {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

#sidebar-close {
    border: #f6490c solid 1px;
    border-left: none;
    border-radius: 5px;
}

#sidebar-toggle {
    background-color: #f6490c;
    border: #f6490c solid 1px;
    box-shadow: 0 0 10px #f6490c;
}