.text-hideca {
    color: #1b283800;
}

.text-hideaca:hover {
    color: #1b283800;
}

.animated-background {
    background: linear-gradient(-45deg, #00446b, #a44007);
    animation: gradient 10s ease infinite;
}

.accordion-button {
    background-color: #72727238 !important;
}

.accordion-item {
    background-color: #72727238 !important;
}

.contacto-title {
    background-color: #72727238 !important;
    border-color: #72727238 !important;
}

.accordion-item img {
    width: 10vh;
    height: auto;
}