.activeborder {
    border: #FFFD01 solid 4px !important;
    border-bottom: none !important;
    color: #FFFD01;
    background-color: #1b2838 !important;
}

.btn-primary {
    background-color: #FFFD01;
    border-color: #FFFD01;
    color: #000000 !important;
}

.btn-primary:hover {
    background-color: #FFFD01;
    border-color: #FFFD01;

}

.btn-primary:active {
    background-color: #FFFD01;
    border-color: #FFFD01;
}

.btn-primary:disabled {
    background-color: #FFFD01;
    border-color: #FFFD01;
}

.btn-primary:focus {
    background-color: #FFFD01;
    border-color: #FFFD01;
}

.card-hover:hover {
    border: 2px solid #FFFD01;
    position: relative;
    z-index: 1;
    transition: border-color 0.3s ease;
}

.list-group-item.active {
    background-color: #FFFD01;
    border-color: #FFFD01;
    color: #000000 !important;
}

.list-group-item.active:hover {
    background-color: #FFFD01;
    border-color: #ffffff;
    color: #000000 !important;
}

.list-group-item.active:focus {
    background-color: #FFFD01;
    border-color: #ffffff;
    color: #000000 !important;
}

.list-group-item.active:active {
    background-color: #FFFD01;
    border-color: #ffffff;
    color: #000000 !important;
}

.group-item-common.active {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:hover {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:focus {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

.group-item-common.active:active {
    background-color: #1b2838;
    border-color: #ffffff;
    color: #fdfdfd !important;
}

#sidebar-close {
    border: #FFFD01 solid 1px;
    border-left: none;
    border-radius: 5px;
}

#sidebar-toggle {
    background-color: #FFFD01;
    border: #FFFD01 solid 1px;
    box-shadow: 0 0 10px #FFFD01;
}

@media (min-width: 990px) {
  .grid-container {
    grid-template-rows: repeat(1, 1fr);
    height: 250px;
  }
}