---
const target = '/traducciones/pq2espanol';
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Persona Q2 - Traducción al Español</title>
    <link rel="canonical" href={`https://a2workshop.github.io${target}`} />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
  </head>
  <body>
    <a href={target}>Persona Q2 Traducción al Español</a>
  </body>
</html>
